<?xml version="1.0"?>

<model>
  <name>Goal Marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>who</name>
    <email>who@todo.com</email>
  </author>
  
  <description>
    A cylinder shaped goal marker to visualize an agent's goal position
  </description>

</model>
